function Floor.new 0
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push pointer 0
    return
function Floor.drawFirstTile 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 24335
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 7801
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 19201
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 15839
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 32759
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 24113
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28511
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 9489
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 3357
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 25489
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 6045
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 119
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 20953
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 30581
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1325
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 7572
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 1927
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 7577
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 32286
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 26376
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 25113
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 11231
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 16128
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 31025
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 16207
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 7736
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 10680
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 21969
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 12477
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Floor.drawMiddleTile 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 22284
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 6266
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 27906
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 13790
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 28199
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 2511
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18399
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 17008
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 2525
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 26514
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 4381
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 376
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 4571
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 29797
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1389
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 7636
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 951
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 31591
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 4540
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 7672
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 285
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 24606
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 22018
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 16144
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 31121
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 16514
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 25064
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 22120
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 10799
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 20291
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Floor.drawLastTile 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 11143
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 3901
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 23424
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 7919
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16388
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 24296
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 15280
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28024
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 1198
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 13257
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 30578
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 32580
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 10477
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 17870
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 695
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 20202
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 16859
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 16972
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 30498
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 28932
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 16518
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 28936
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 21999
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 24456
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 31944
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 24503
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 20236
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 21708
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 27368
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 22622
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Floor.drawFloor 2
    push argument 0
    pop pointer 0
    push pointer 0
    push this 0
    call Floor.drawFirstTile 2
    pop temp 0
    push constant 1
    pop local 1
label Floor_0
    push local 1
    push constant 15
    lt
    not
    if-goto Floor_1
    push local 1
    push constant 2
    call Math.multiply 2
    pop local 0
    push pointer 0
    push this 0
    push local 0
    add
    call Floor.drawMiddleTile 2
    pop temp 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Floor_0
label Floor_1
    push local 1
    push constant 2
    call Math.multiply 2
    pop local 0
    push pointer 0
    push this 0
    push local 0
    add
    call Floor.drawLastTile 2
    pop temp 0
    push constant 0
    return