function Main.main 4
    push constant 0
    pop local 3
    push constant 5600
    call Vegeta.new 1
    pop local 0
    push local 0
    call Vegeta.draw 1
    pop temp 0
    push constant 7680
    call Floor.new 1
    pop local 1
    push local 1
    call Floor.drawFloor 1
    pop temp 0
label Main_0
    push local 3
    push constant 0
    eq
    not
    if-goto Main_1
    push constant 0
    pop local 2
label Main_2
    push local 2
    push constant 0
    eq
    not
    if-goto Main_3
    call Keyboard.keyPressed 0
    pop local 2
    push local 0
    call Vegeta.moveDown 1
    pop temp 0
    goto Main_2
label Main_3
    push local 2
    push constant 32
    eq
    not
    if-goto Main_5
    push local 0
    call Vegeta.moveUp 1
    pop temp 0
    goto Main_4
label Main_5
label Main_4
    goto Main_0
label Main_1
    push constant 0
    return