function SnakeNode.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 2
    push argument 1
    pop this 3
    push argument 2
    pop this 4
    push pointer 0
    call SnakeNode.Draw 1
    pop temp 0
    push pointer 0
    return
function SnakeNode.getX 0
    push argument 0
    pop pointer 0
    push this 2
    return
function SnakeNode.getY 0
    push argument 0
    pop pointer 0
    push this 3
    return
function SnakeNode.Draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 2
    push this 3
    push this 2
    push this 4
    add
    push this 3
    push this 4
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function SnakeNode.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 2
    push this 3
    push this 2
    push this 4
    add
    push this 3
    push this 4
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function SnakeNode.Move 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    if-goto SnakeNode_1
    push constant 0
    return
    goto SnakeNode_0
label SnakeNode_1
label SnakeNode_0
    push this 1
    call SnakeNode.getX 1
    pop this 2
    push this 1
    call SnakeNode.getY 1
    pop this 3
    push pointer 0
    call SnakeNode.Draw 1
    pop temp 0
    push constant 0
    return