function Vegeta.new 0
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push pointer 0
    return
function Vegeta.eraseHead 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 992
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 993
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Vegeta.drawHead 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 24576
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 2048
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 768
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 128
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 128
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 16640
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8064
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 4032
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 13440
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 32000
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 32256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 1024
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 14336
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 992
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 11
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 31
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 31
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 55
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 50
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 56
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 21
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 21
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 25
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 4
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 993
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Vegeta.draw 0
    push argument 0
    pop pointer 0
    push pointer 0
    push this 0
    call Vegeta.drawHead 2
    pop temp 0
    push constant 0
    return
function Vegeta.erase 0
    push argument 0
    pop pointer 0
    push pointer 0
    push this 0
    call Vegeta.eraseHead 2
    pop temp 0
    push constant 0
    return
function Vegeta.moveUp 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Vegeta.erase 1
    pop temp 0
    push this 0
    push constant 32
    sub
    pop this 0
    push pointer 0
    call Vegeta.draw 1
    pop temp 0
    push constant 0
    return
function Vegeta.moveDown 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Vegeta.erase 1
    pop temp 0
    push this 0
    push constant 32
    add
    pop this 0
    push pointer 0
    call Vegeta.draw 1
    pop temp 0
    push constant 0
    return